@import url('https://fonts.googleapis.com/css2?family=Jersey+20&family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sedgwick+Ave+Display&family=Shadows+Into+Light&display=swap');
*{
  margin: 20;
  padding: 1;
  box-sizing: border-box;
  font-family: "Poetsen One", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, rgb(119, 153, 214), rgb(218, 222, 230),rgb(119, 153, 214) );
}
h1{
  font-size: 200%;
  padding-top: 10%;
  text-align: center;
}
.box{
  margin-left: 60px;
  margin-right: 60px;
  padding-top: 10%;
}

.container{
  background-color: #f8f4f4;
  border-radius: 40px;
  box-shadow: 0px 0px 0px 0px 5px black;
  margin-top: 50px;
  margin-bottom: 50%;
  margin-left: 500px;
  margin-right: 500px;
  padding-bottom: 10%;
  box-shadow: 5px 10px #888888;
}
button{
  margin-left: 100px;
  box-shadow: 5px 10px #888888;
  padding: 5%;
  cursor: pointer;
  border-radius: 20px;

}
#temp{
  padding-top: 10px;
  font-size: 200%;
  border: none;
  background-color: #f8f4f4;
  display: flex;
  justify-content: center;
  margin-left: 15%;
  width: 90%;
}

